
.color-1 {color: #7DCEA0;}
.color-2 {color: #E5E8E8;}
.color-3 {color: #F8F9F9;}
.color-4 {color: #566573;}
.color-5 {color: #DAF7A6;}
.color-6 {color: #FFC300;}

.no-margin{
	margin: 0px;
}
.no-padding{
	padding: 0px;
}
#h-line{
    height: 1px;
    border: 0;
    background-color: #7DCEA0;
    margin: 0px;
}
#dot{
	color: lightblue;
}
#profile-img{
	width:200px;
    height:200px;
    border-radius:100px;
    border: 4px solid #2AA8C7;
}
#name{
	margin: 0px;
	color: #00D6C2;
	font-size: 250%;
	font-family: 'Raleway', serif;
	font-weight: 200;
}
#surname{
	margin: 0px;
	color: #00D6C2;
	font-size: 250%;
	font-family: 'Raleway', serif;
	font-weight: 300;
}
#actual-occupation{
	color: #00D6C2;
	font-size: 175%;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}
#title{
	margin: 0px;
	padding: 5px;
	color: #7DCEA0;
	font-size: 200%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
#info-1{
	font-size: 150%;
	font-family: 'Raleway', serif;
	font-weight: 300;
}
#info-2{
	color: #7DCEA0;
	font-size: 120%;
	font-family: 'Raleway', serif;
	font-weight: 300;
}
#date{
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}
#paragraph{

}
#company-img{
	width: 325px;
    height: 244px;
	border-radius: 30px;
}
#social-network{
	padding: 5px;
	color: #7DCEA0;
	text-decoration: none;
	font-size: 30px;
}


