/*
color

*/
html,body {
	font-family: 'Raleway', sans-serif;
  	height: 100%;
  	margin: 0;
}

section {
  	height: 100vh;
}

section:nth-child(1) {
  	background-image: url(imgs/background.jpg);
  	background-size: cover;
  	background-position: center;
}

section:nth-child(2) {
  	background-color: #343434;
}

.raleway{
	font-family: 'Raleway', cursive;
}

.remove-float{
	float: none;
}

.padding-top1{
	padding-top: 0.5%;
}

.padding-top2{
	padding-top: 1.5%;
}

.padding-bottom1{
	padding-bottom: 0.5%;
}

.no-list li{
	list-style-type: none;
}

.no-padding{
	padding: 0px;
}

.bottom{
    position:absolute;
    bottom:0px;
}

#wallpaper{
	background:no-repeat fixed center;
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%;
	filter: brightness(20%);
	z-index: -1
}

#profile{
	width:200px;
    height:200px;
    border-radius:100px;
}

#name{
	color: #00D6C2;
	font-family: 'Raleway', serif;
	font-size: 70px;
}

#text1{
	color: #2AA8C7;
	font-family: 'Raleway', serif;
	font-size: 20px;
}

#text2{
	color: #00D6C2;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 30px;
}

#flag{
	width:3%;
    height:3%;
}

#rs{
	width:7%;
    height:7%;	
}
